.navigation {
  height: 70px;
  width: 100%;
  animation: myanimation 6s infinite;;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 15px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
@keyframes myanimation {
  0% {box-shadow: 0px 3px 15px 0px rgb(152, 230, 240);}
  25%{box-shadow: 0px 3px 15px 0px rgb(254, 148, 176);}
  50%{box-shadow: 0px 3px 15px 0px rgb(162, 246, 147);}
  75%{box-shadow: 0px 3px 15px 0px rgb(249, 241, 148);}
  100% {box-shadow: 0px 3px 15px 0px rgb(173, 230, 186);}
}